{% extends 'reusablenavbar.html' %}
{% load static %}

{%block title %}
<link rel="stylesheet" href= '{% static "land.css" %}'>
{% endblock title %}
{%block content%}
<div class="overlay-content">
    <div class="Container1">
        <button class="btn button1" onclick="window.location.href='html.com'">Portfolio</button>
        <button class="btn button2" onclick="window.location.href='html.com'">Income & Expenses</button>
      </div>
      <div class="Container2">
        <button class="btn button3" onclick="window.location.href='html.com'">Analytics</button>
        <button class="btn button4" onclick="window.location.href='html.com'">Portfolio</button>
        </div>
</div>
{%endblock%}
