<!-- templates/stocks/aapl_chart.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AAPL Stock Chart</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Market Summary</h1>
    <h2>S&P 500</h2>
    <p>Current Price: {{ current_price }}</p>
    <p>Previous Close:{{previous_close}}</p>
    <p>Change:{{percentage_change}}%</p>
    <p>Volume traded:{{traded_volume}}</p>
    <p>High:{{high_price}}</p>
    <p>Low:{{low_price}}</p>
    <h1>S&P 500 Index Chart</h1>
    <div id="sp500-chart">
        {{ plot_div2|safe }}
    </div>
    <form method="post" action="{% url 'stockchart' %}">
        {% csrf_token %}
        <input type="text" name="query" id="searchstock" placeholder="Enter stock symbol">
        <button type="submit">Search</button>
    <h1>{{stockname}} Stock Chart</h1>
    <div id="aapl-chart">
        {{ plot_div|safe }}
    </div>
    <a href="{% url 'filterstocks' %}">
        <span class="links_name">SCREENER</span>
      </a>
</body>
</html>
